/myenv
dashboard/node_modules
dashboard/.next


__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log

dist/
build/

*.tmp
*.temp

*.egg-info/
.Python

.ipynb_checkpoints/

.env
.env.local
.env.*.local

node_modules/
package-lock.json

.next/
out/

__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.rar

*.db
*.sqlite
*.sqlite3
data/
