NEXT_PUBLIC_API_URL=https://xxxx-xxxx-xxxx.ngrok-free.app/api/v1

NEXT_PUBLIC_DASHBOARD_API_KEY=ZYROX_SECURE_API_KEY_12345_CHANGE_THIS_ASAP_BY_CODEX_DEVS

NEXTAUTH_URL=https://your-vercel-url-here-codex-devs.vercel.app/
NEXTAUTH_SECRET=zyrox_nextauth_default_secret_string_2026_change_me_BY_CODEX_DEVS

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

NEXT_PUBLIC_ADMIN_IDS=870179991462236170

NEXT_PUBLIC_BRAND_NAME="Wutherer"
NEXT_PUBLIC_BRAND_NAME_WORD="Wutherer"
